Flask==3.1.1
flask-cors==6.0.1
Flask-SQLAlchemy==3.1.1
SQLAlchemy==2.0.41
psycopg2-binary==2.9.10
gunicorn==23.0.0
pdfplumber==0.11.7
pypdf==5.9.0
pytesseract==0.3.13
pypdfium2==4.30.0
Pillow==11.3.0
